.container {
  overflow: hidden;
}

.content {
  display: flex;
  transition: transform 0.3s ease;
}

.item {
  width: 80%;
  flex-shrink: 0;
  margin: 0 10%;
  padding: 10rem 0;
  background: #eee;
  border-radius: 4px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 80%;
}

.navButton{
  padding: 1rem;
  border:0;
  background:rgb(184, 196, 255);
  color:#fff;
  border-radius: 4px;
}
